{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="bg-light py-3 px-3 connectionbox">
                    <h1 class="title_change">Change Password</h1>
                    <div class="form_change">
                        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                        {{ form_widget(form) }}
                        <div class="input_change">
                            <input type="submit" value="Change Password!"/>
                        </div>
                        {{ form_end(form) }}
                    </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
