{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="bg-light py-3 px-3 connectionbox">
                    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')%}
                        <h1 class="text-center">You are already logged !</h1>
                    {% else %}
                        <h2>Login</h2><br/>
                        {% if error %}
                            <div class="alert alert-warning"><p>The information provided are not correct!</p></div>
                        {% endif %}
                        <form method="POST">
                            <div class="form-group">
                                <label for="_username">Name</label>
                                <input type="text" class="form-control" placeholder="Name" name="_username"
                                       id="_username" value="{{ last_username }}" required>
                            </div>
                            <div class="form-group">
                                <label for="_password">Password</label>
                                <input type="password" name="_password" id="_password" placeholder="Password..."
                                       class="form-control" required>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="form-group col-md-5">
                                    <button type="submit" class="btn btn-success">Login!</button>
                                </div>
                                <div class="form-group col-md-5 text-right">
                                    <a href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
