{% extends 'site/survey/base.html.twig' %}

{% block title %}{{ 'survey.title' | trans }}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="container">
            <h5 class="thanks text-center">
                {{ 'survey.thanks.text' | trans }}
            </h5>
        </div>
    </div>
{% endblock %}
