{% extends "base.html.twig" %}

{% block title %}- Error 404{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="error-404 text-center">
                    <div class="error-text-top">
                        OOPS! PAGE NOT FOUND
                    </div>
                    <h1 class="error-text-center">
                        404
                    </h1>
                    <div class="error-text-bottom">
                        WE ARE SORRY BUT THE PAGE YOU REQUESTED<br/>WAS NOT FOUND
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
